openapi: 3.1.0
info:
  title: DevCycle Bucketing Audiences Audit Log API
  description: Documents the DevCycle Bucketing API which provides an API interface to User Bucketing and for Server SDKs configured to use Cloud Bucketing.
  version: 1.3.0
servers:
- url: https://bucketing-api.devcycle.com/
tags:
- name: Audit Log
paths:
  /v1/projects/{project}/features/{feature}/audit:
    get:
      operationId: AuditLogController_findAll
      summary: Get Audit Log For Feature
      description: Get Audit Log For Feature
      parameters:
      - name: page
        required: false
        in: query
        schema:
          minimum: 1
          default: 1
          type: number
      - name: perPage
        required: false
        in: query
        schema:
          minimum: 1
          maximum: 1000
          default: 100
          type: number
      - name: sortBy
        required: false
        in: query
        schema:
          default: createdAt
          enum:
          - createdAt
          - updatedAt
          - name
          - key
          - propertyKey
          type: string
      - name: sortOrder
        required: false
        in: query
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      - name: environment
        required: false
        in: query
        schema:
          type: string
      - name: a0_user
        required: false
        in: query
        schema:
          type: string
      - name: startDate
        required: false
        in: query
        schema:
          format: date-time
          type: string
      - name: endDate
        required: false
        in: query
        schema:
          format: date-time
          type: string
      - name: feature
        required: true
        in: path
        description: A Feature key or ID
        schema:
          type: string
      - name: project
        required: true
        in: path
        description: A Project key or ID
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLogEntity'
        '400':
          description: ''
        '401':
          description: ''
        '404':
          description: ''
      tags:
      - Audit Log
components:
  schemas:
    AuditLogEntity:
      type: object
      properties:
        date:
          format: date-time
          type: string
        a0_user:
          type: string
        changes:
          type: array
          items:
            type: object
      required:
      - date
      - a0_user
      - changes
  securitySchemes:
    bearerAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Enter your DevCycle SDK token
