openapi: 3.2.0
info:
  title: DevCycle Management User Profiles API
  description: An API for managing features and variables on the DevCycle platform.
  version: 1.0.0
  contact: {}
servers:
- url: https://api.devcycle.com
tags:
- name: User Profiles
paths:
  /v1/projects/{project}/userProfile/current:
    get:
      operationId: UserProfilesController_findAll
      summary: Get User Profile for the Current User in the specified Project
      description: Get User Profile for the authenticated User in the specified Project
      parameters:
      - name: project
        required: true
        in: path
        description: A Project key or ID
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUserProfile'
        '401':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
      tags:
      - User Profiles
    patch:
      operationId: UserProfilesController_createOrUpdate
      summary: Create or Update User Profile for the Current User in the specified Project
      description: Create or Update a User Profile for Overrides
      parameters:
      - name: project
        required: true
        in: path
        description: A Project key or ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserProfileDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUserProfile'
        '400':
          description: ''
        '401':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
        '409':
          description: ''
      tags:
      - User Profiles
components:
  schemas:
    UpdateUserProfileDto:
      type: object
      properties:
        dvcUserId:
          type:
          - string
          - 'null'
          description: 'DVC User Id for User Profile.

            Mirrors the SDK `user_id`, which is capped at 200 characters.'
          example: dvc_sdk_user_id
          maxLength: 200
    ProjectUserProfile:
      type: object
      properties:
        _id:
          type: string
          description: Auto-generated unique User Profile ID
          example: 61450f3daec96f5cf4a49946
        _project:
          type: string
          description: The Project associated with the User Profile
        a0_user:
          type: string
          description: ID of the User who created the User Profile
        dvcUserId:
          type:
          - string
          - 'null'
          description: 'DVC User Id for User Profile.

            Mirrors the SDK `user_id`, which is capped at 200 characters.'
          example: dvc_sdk_user_id
          maxLength: 200
        createdAt:
          format: date-time
          type: string
          description: The date the Project User Profile was created
        updatedAt:
          format: date-time
          type: string
          description: The date the Project User Profile was last updated
      required:
      - _id
      - _project
      - a0_user
      - createdAt
      - updatedAt
