openapi: 3.2.0
info:
  title: DevCycle Management Overrides API
  description: An API for managing features and variables on the DevCycle platform.
  version: 1.0.0
  contact: {}
servers:
- url: https://api.devcycle.com
tags:
- name: Overrides
paths:
  /v1/projects/{project}/features/{feature}/overrides/current:
    put:
      operationId: OverridesController_updateFeatureOverride
      summary: Update Overrides for the Current User
      parameters:
      - name: feature
        required: true
        in: path
        description: A Feature key or ID
        schema:
          type: string
      - name: project
        required: true
        in: path
        description: A Project key or ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOverrideDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Override'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponse'
        '401':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
      tags:
      - Overrides
    get:
      operationId: OverridesController_findOne
      summary: Get feature overrides for current user
      parameters:
      - name: feature
        required: true
        in: path
        description: A Feature key or ID
        schema:
          type: string
      - name: project
        required: true
        in: path
        description: A Project key or ID
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverrideResponse'
        '401':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
      tags:
      - Overrides
    delete:
      operationId: OverridesController_deleteOverridesForFeature
      summary: Delete override for specific feature and environment for the current user
      parameters:
      - name: environment
        required: true
        in: query
        description: A Environment key or ID
        schema:
          type: string
      - name: feature
        required: true
        in: path
        description: A Feature key or ID
        schema:
          type: string
      - name: project
        required: true
        in: path
        description: A Project key or ID
        schema:
          type: string
      responses:
        '200':
          description: ''
        '401':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
      tags:
      - Overrides
  /v1/projects/{project}/features/{feature}/overrides:
    get:
      operationId: OverridesController_findOverridesForFeature
      summary: Get overrides for feature
      parameters:
      - name: addMetadata
        required: false
        in: query
        schema:
          type: boolean
      - name: environment
        required: false
        in: query
        description: A Environment key or ID
        schema:
          type: string
      - name: feature
        required: true
        in: path
        description: A Feature key or ID
        schema:
          type: string
      - name: project
        required: true
        in: path
        description: A Project key or ID
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureOverrides'
        '401':
          description: ''
        '404':
          description: ''
      tags:
      - Overrides
  /v1/projects/{project}/overrides/current:
    get:
      operationId: OverridesController_findOverridesForProject
      summary: Get all overrides for project for current user
      parameters:
      - name: project
        required: true
        in: path
        description: A Project key or ID
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserOverride'
        '401':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
      tags:
      - Overrides
    delete:
      operationId: OverridesController_deleteOverridesForProject
      summary: Delete all overrides for project for current user
      parameters:
      - name: project
        required: true
        in: path
        description: A Project key or ID
        schema:
          type: string
      responses:
        '200':
          description: ''
        '401':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
      tags:
      - Overrides
components:
  schemas:
    FeatureOverrides:
      type: object
      properties:
        overrides:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/Override'
        uniqueTeamMembers:
          type: number
      required:
      - overrides
      - uniqueTeamMembers
    OverrideResponse:
      type: object
      properties:
        overrides:
          type: array
          items:
            $ref: '#/components/schemas/FeatureOverride'
      required:
      - overrides
    FeatureOverride:
      type: object
      properties:
        _environment:
          type: string
        _variation:
          type: string
      required:
      - _environment
      - _variation
    BadRequestErrorResponse:
      type: object
      properties:
        statusCode:
          type: number
          description: Response status code
          example: 400
        message:
          type: object
          description: Error details
          example:
          - key should not be empty
        error:
          type: string
          description: Error type
          example: Bad Request
      required:
      - statusCode
      - message
      - error
    UserOverride:
      type: object
      properties:
        _feature:
          type: string
        featureName:
          type: string
        _environment:
          type: string
        environmentName:
          type: string
        _variation:
          type: string
        variationName:
          type: string
      required:
      - _feature
      - featureName
      - _environment
      - environmentName
      - _variation
      - variationName
    UpdateOverrideDto:
      type: object
      properties:
        environment:
          type: string
        variation:
          type: string
      required:
      - environment
      - variation
    Override:
      type: object
      properties:
        _project:
          type: string
        _environment:
          type: string
        _feature:
          type: string
        _variation:
          type: string
        dvcUserId:
          type: string
        createdAt:
          type: number
        updatedAt:
          type: number
        a0_user:
          type: string
      required:
      - _project
      - _environment
      - _feature
      - _variation
      - dvcUserId
      - createdAt
      - updatedAt
